.about-me{
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  padding: 20px;;
}

.about-me p{
  color: white;
  max-width: 800px;
  font-family: 'Roboto Slab', serif;
  padding: 10px;
}

.about-me-name{
  display: flex;
  color: white;
  font-family: 'Roboto Slab', serif;
  max-width: 500px;
  padding: 10px;
  font-size: 35px;
  flex-wrap: wrap;
  overflow: hidden;
}

.img-settings1 {
  display: block;
  max-width: 95%;
  max-height:500px;
}

@media screen and (max-width: 525px){

  .about-me-name{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    width: 210px;
    padding: 10px;
    text-align: center;
  }
}