body{
  background-color: #121212;
}

.heatpack-container{

  height: 100vh;
  position: relative;
    
    }
    
.heatpack-title-container{

      display:flex;
      position: relative;
      height: 15%;
      align-items: center;
      font-size: 90px;
      color: white;
      left: 5%;
      overflow: hidden;
      
    }

.heatpack-title-container span{

  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
    
.marquee{

    position: absolute;
    top: 12%;
    width:100%;
    color: black;
    overflow: hidden;
    z-index: 1;
   }
   
  
.marquee-content{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 10s linear infinite;
          
      }

.marquee-content span{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.marquee-content li{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
      
   @keyframes scrolling{
    0% {transform: translateX(0);}
    100% {transform: translateX(-2400px);}
    }
      
.marquee-content li{
      
    display:flex;
    justify-content: center;
    width: 800px;
    flex-shrink: 0;
    font-size: 90px;
    white-space:nowrap;
    text-align: center;
    color: white;

  }

.computer{
    
    position: absolute;
    display: flex;
    top: 22%;
    font-size: 90px;
    color: white;
    overflow: hidden;
    left: 10%;
            
    }

.computer span{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}



.first-Image {

  position:relative;
  display: flex;
  top: 1000px;
  justify-content: space-around;
  align-items: center;
  /*flex-wrap: wrap;*/
  
}

.flex{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  top: 10%;
  justify-content: center;

    }

.polaroid-container-1{
     
      position: relative;
      justify-self: center;
      grid-column-start: 1;
    grid-column-end: 3;
  }

.polaroid-container-2{
      position: relative;
      justify-self: center;
      grid-column-start: 3;
    grid-column-end: 5;
    }

.polaroid-container-3{
      position: relative;
      justify-self: center;
      grid-column-start: 5;
    grid-column-end: 7;
  }

  @media screen and (max-width: 1421px) and (min-width: 1082px) {

    .polaroid-container-1{
         
          position: relative;
          justify-self: center;
          grid-column-start: 1;
    grid-column-end: 4;
          
      }
    
    .polaroid-container-2{
          position: relative;
          justify-self: center;
          grid-column-start: 4;
    grid-column-end: 7;
    
        }
    
    .polaroid-container-3{
          position: relative;
          justify-self: center;
          grid-column-start: 3;
    grid-column-end: 5;
          
      }
  
  }

  @media screen and (max-width: 1082px) {

    .polaroid-container-1{
         
          position: relative;
          justify-self: center;
          grid-column-start: 3;
          grid-column-end: 5;
          
      }
    
    .polaroid-container-2{
          position: relative;
          justify-self: center;
          grid-column-start: 3;
          grid-column-end: 5;
        }
    
    .polaroid-container-3{
          position: relative;
          justify-self: center;
          grid-column-start: 3;
          grid-column-end: 5;
      }
  
  }
