body{
  background-color: #0b0b0b;
}

.heatpack-container{

  height: auto;
  position: relative;
    
    }
    
.heatpack-title-container{

      display:flex;
      position: relative;
      height: 15%;
      align-items: center;
      font-size: 90px;
      color: white;
      left: 5%;
      overflow: hidden;
      
    }

.heatpack-title-container span{

  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}


.computer{
    
  position: absolute;
  display: flex;
  top: 260px;
  font-size: 90px;
  color: white;
  overflow: hidden;
  left: 10%;
          
  }
    
.marquee{

    position: absolute;
    top: 150px;
    width:100%;
    color: black;
    overflow: hidden;
    z-index: 1;
   }
   
  
.marquee-content{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 10s linear infinite;
          
      }

.marquee-content span{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
      
   @keyframes scrolling{
    0% {transform: translateX(0);}
    100% {transform: translateX(-2400px);}
    }
      
.marquee-content li{
      
    display:flex;
    justify-content: center;
    width: 800px;
    flex-shrink: 0;
    font-size: 90px;
    white-space:nowrap;
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
  font-weight: 300;

  }


.computer span{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.navHidden{
  height: 8.67;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
justify-content: center;
width: 100%;
}


.first-Image {

  position:relative;
  display: flex;
  top: 1000px;
  justify-content: space-around;
  align-items: center;
}

.polaroid-container-1{
     
      position: relative;
      justify-self: center;
      grid-column: 1/3;
      max-width: 80%;
      
  }

.polaroid-container-2{
      position: relative;
      justify-self: center;
      grid-column: 3/5;
      max-width: 80%;
    }

.polaroid-container-3{
      position: relative;
      justify-self: center;
      grid-column: 5/7;
      max-width: 80%;

  }

  @media screen and (max-width: 500px) {
    .heatpack-title-container{
      font-size: 60px;
    }

    .computer{
      font-size: 60px;
      top: 190px;
      }
      .marquee{
        top: 120px;
      }

      .marquee-content li{
        font-size: 60px;
        width: 600px;
      }

      @keyframes scrolling{
        0% {transform: translateX(0);}
        100% {transform: translateX(-1800px);}
        }
      
  
  }
  
  @media screen and (max-width: 350px) {
    .heatpack-title-container{
      font-size: 40px;
    }

    .computer{
      font-size: 40px;
      top: 170px; 
      }

      .marquee{
        top: 110px;
      }

      .marquee-content li{
        font-size: 40px;
        width: 400px;
      }

      @keyframes scrolling{
        0% {transform: translateX(0);}
        100% {transform: translateX(-1200px);}
        }
  
  }