body{
  background-color: #121212;
}

.heatpack-container{

  height: 100vh;
  position: relative;
    
    }
    
.heatpack-title-container{

      display:flex;
      position: relative;
      height: 15%;
      align-items: center;
      font-size: 90px;
      color: white;
      left: 5%;
      overflow: hidden;
      
    }

.heatpack-title-container span{

  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
    
.marquee{

    position: absolute;
    top: 12%;
    width:100%;
    color: black;
    overflow: hidden;
    z-index: 1;
   }
   
  
.marquee-content{
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 10s linear infinite;
          
      }

.marquee-content span{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.marquee-content li{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
      
   @keyframes scrolling{
    0% {transform: translateX(0);}
    100% {transform: translateX(-2400px);}
    }
      
.marquee-content li{
      
    display:flex;
    justify-content: center;
    width: 800px;
    flex-shrink: 0;
    font-size: 90px;
    white-space:nowrap;
    text-align: center;
    color: white;

  }

.computer{
    
    position: absolute;
    display: flex;
    top: 22%;
    font-size: 90px;
    color: white;
    overflow: hidden;
    left: 10%;
            
    }

.computer span{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.flex{

    display: flex;
    width: 100.9%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    }

.polaroid-container-1{
     
      align-self: flex-end;
      position: relative;
      width: 345px;
      height: 440px;
      left: 0px;
      
  }

.polaroid-container-2{
      position: relative;
      display:flex;
      justify-content: center;
      width: 1136px;
      height: 1379px;
      
    
        
    }

.polaroid-container-3{
      position: relative;
      align-self: flex-start;
      width: 345px;
      height: 418px;
      
      
  }


.first-Image {

  position:relative;
  display: flex;
  top: 1000px;
  justify-content: space-around;
  align-items: center;
  /*flex-wrap: wrap;*/
  
}