.container{

background-color: #121212;
height: 100vh;
position: relative;
}

.heading{
    
  display: flex;  
  position: relative;
    height: 15%;
    font-size: 90px;
    left: 5%;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: white;
    flex-shrink: 1;
    
}

.heading:hover ~ .cursor{
  transform: scale(5);
}


.heading-1{

    position: relative;
    font-size: 90px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: black;

}

img { 
  max-width: 100%; 
}

.polaroids{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  top: 10%;
  justify-content: center;

}


.polaroid-1{
  position: relative;
  justify-self: center;
  grid-column-start: 1;
    grid-column-end: 3;
    max-width: 95%;

  
}

.polaroid-2{

    position: relative;
    justify-self: center;
    grid-column-start: 3;
    grid-column-end: 5;
    max-width: 95%;
}

.polaroid-3{

    position: relative;
    justify-self: center;
    grid-column-start: 5;
    grid-column-end: 7;
    max-width: 95%;
}

@media screen and (max-width: 1421px) and (min-width: 1082px) {

  .polaroid-1{
    position: relative;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
    max-width: 95%;
  
    
  }
  
  .polaroid-2{
  
      position: relative;
      justify-self: center;
      grid-column-start: 4;
    grid-column-end: 7;
    max-width: 95%;
  }
  
  .polaroid-3{
  
      position: relative;
      justify-self: center;
      grid-column-start: 3;
    grid-column-end: 5;
    max-width: 95%;
  }

}

@media screen and (max-width: 1082px) {

  .polaroid-1{
    position: relative;
    justify-self: center;
    grid-column-start: 3;
          grid-column-end: 5;
          max-width: 95%;
  
    
  }
  
  .polaroid-2{
  
      position: relative;
      justify-self: center;
      grid-column-start: 3;
          grid-column-end: 5;
          max-width: 95%;
  }
  
  .polaroid-3{
  
      position: relative;
      justify-self: center;
      grid-column-start: 3;
          grid-column-end: 5;
          max-width: 95%;
  }

}