.App {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

.App h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  position: relative;
  left: 10.5%;
  font-size: 90px;
  color: white;
}

.scroll{
  padding: 2vh 0;
  
}

 .image-container{
  max-width: 100%;
  height: 1050px;
  position: relative;
  left: 10px;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
 }

 .image-container p{
   color: white;
   font-family: 'Roboto Slab', serif;
   font-weight: 500;
 }

 .image-container li{
  color: white;
  font-family: 'Roboto Slab', serif;
   font-weight: 500;
}

 .img-settings {
  display: block;
  max-width:900px;
  max-height:921px;
  
}

.menu-top{
  position: absolute;
  left: 40%;
  height: 25px;
  top: 180px;
  
}

.menu-bottom{
  position: absolute;
  left: 40%;
  height: 25px;
  bottom: 100px;
}

.list-menu{
  color:white;
  display: inline-block;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.page-links{
  text-decoration: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
