.App {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.paragraph{
  font-size: 30px;
  position: relative;
  top: 50px;
  left: 5%;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

 .image-container{
  max-width: 100%;
  position: relative;
  margin: 300px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
 }

 .image-container1{
  max-width: 100%;
  position: relative;
  margin: 300px auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
 }

 .image-container-last{
  max-width: 100%;
  position: relative;
  margin: 300px auto;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
 }

 .img-settings {
  display: block;
  max-width: 95%;
  max-height:921px;
  
}

img { 
  max-width: 100%; 
}

 .image-container p{
  
   color: white;
   font-family: 'Roboto Slab', serif;
   font-weight: 400;
   padding: 20px;
   font-size: 25px;
 }

 .image-container1 p{
  
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  padding: 20px;
  font-size: 25px;
}

.image-container-last p{
  
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  padding: 20px;
  font-size: 25px;
}

 .image-container li{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  padding: 20px;
  font-size: 25px;
  list-style-type: none;
  
}

.menu-top{
  display:flex;
  position: relative;
  top: 100px;
  left: 5%;
  width: 280px;
}

.top-menu{
  display:flex;
  position: relative;
  left: 5%;
  width: 280px;
}

.menu-bottom{
  display: flex;
  position: relative;
  bottom: 100px;
  left: 5%;
  width: 280px;
}

.bottom-menu{
  display: flex;
  position: relative;
  left: 5%;
  bottom: 30px;
  width: 280px;
}

.list-menu{
  color:white;
  display: flex;
  padding-right: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.page-links{
  text-decoration: none;
  display: flex;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

@media screen and (max-width: 542px) {
  .paragraph{
    font-size: 18px;
    top: 0px;
  }

  .menu-top{
    top: 50px;
  }
  
  .menu-bottom{
    bottom: 50px;
  }

  .image-container1{
    margin-top: 100px;
   }

   .image-container-last{
    margin-top: 100px;
   }

   .image-container{

    margin: 100px auto;
   }

   .image-container1{

    margin: 100px auto;
   }

   .image-container-last{

    margin: 100px auto;
   }

   .image-container p{
    font-size: 15px;
  }
 
  .image-container1 p{
   font-size: 15px;
 }
 
 .image-container-last p{
   font-size: 15px;
 }
 
  .image-container li{
   font-size: 15px;
 }

}
