.App {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  
}

.scroll{
  padding: 2vh 0;
  
}

 .image-container{
  max-width: 1220px;
  height: 1000px;
  position: relative;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  
 }

 .image-container p{
   color: white;
 }

 h1{
  position: relative;
  left: 10.5%;
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
  color: white;
 }

 .img-settings {
  display: block;
  max-width:900px;
  max-height:921px;
  
}

.menu-top{
  position: absolute;
  left: 40%;
  height: 25px;
  top: 100px;
}

.menu-bottom{
  position: absolute;
  left: 40%;
  height: 25px;
  bottom: 100px;
}

.list-menu{
  color:white;
  
  padding: 20px;
}