.App {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.scroll{
  padding: 2vh 0;
  pointer-events: none;
}

 .image-container{
  max-width: 1220px;
  max-height: 1000px;
  position: relative;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
 }

 .image-container p{
   color: white;
 }

 h1{
  position: relative;
  left: 10.5%;
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
  color: white;
 }

 .img-settings {
  display: block;
  max-width:900px;
  max-height:900px;
  width: auto;
  height: auto;
}