.about-me-container{

  height: 100vh;
  position: relative;
    }


.about-me-container h1{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

.about-me-container p{
  color: white;
  max-width: 90%;
  font-family: 'Roboto Slab', serif;
  position: relative;
  text-align: center;
  
}

.contact-me{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  top: 10%;
  justify-content: center;

}


.position-1{
  position: relative;
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;

}



.form-inline {
  text-align: center;

  
}

input{
  width: 100%;
  max-width: 90%;
}

textarea{
  width: 100%;
  max-width: 90%;
}