.hero-container{
  background-image: url('C:\Users\HEATPACK_OLLIE\Desktop\photo-and-tech\src\public\images/home-background.png');
  background-position: center;
  display: flex;
  height: 100vh;  max-height: -webkit-fill-available;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}

.hide {
  display: none;
}

.show {
  list-style-type: none;
  display: inline-block;
  align-self: center;
  position: relative;
  top: -8%;
}

.icons{
  width: 275px;
  height: 235px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-icon {
  cursor: pointer;
}

.img-container{
  width: 290px;
  height: 268px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.tech-icon {

  cursor: pointer;
}

.display-none {

  display: none;
}


.figcap1{
  color: #fff;
  text-align: center;
  
  font-size: 25px;
  
}

.figcap2{
  text-align: center;
  
  font-size: 25px;
}

.photo-item {
  height: 28px;
}

.item-links {
  display: block;
  text-align: center;
  margin: 2rem auto;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
}

.item-links1 {
  display: block;
  text-align: left;
  margin: 2rem auto;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  transition: all 0.3s ease-out;
  
}

.welcomeMessage{
  position: absolute;
  top: -30px;
  left:0;
  font-weight: 200;
  width: 50vw;
  font-size: 89px;
  margin: 10px;
  opacity: 0;
}

@media screen and (max-width: 1657px) {
  .welcomeMessage{
    font-size: 80px;
  }
}

@media screen and (max-width: 1490px) {
  .welcomeMessage{
    font-size: 70px;
  }
}

@media screen and (max-width: 1312px) {
  .welcomeMessage{
    font-size: 60px;
  }
}

@media screen and (max-width: 1118px) {
  .welcomeMessage{
    font-size: 50px;
  }
}

@media screen and (max-width: 960px) {
  .hero-container{
    
    background-image: url('C:\Users\HEATPACK_OLLIE\Desktop\photo-and-tech\src\public\images/website-background.png');
    flex-direction: column;
  }

  .welcomeMessage{
    font-size: 50px;
    width: 90vw;
  }

}

@media screen and (max-width: 473px) {
  .welcomeMessage{
    font-size: 40px;
  }

}

@media screen and (max-height: 473px) {

  .img-container{
    width: 300px;
    height: 282px;
  }
}

@media screen and (max-width: 385px) {
  .welcomeMessage{
    font-size: 30px;
  }
}

